*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-family: "Geologica", sans-serif;
}


.container{
    width: 1280px;
    margin: auto;
}


.back-image{
    padding: 155px 0px;
    background: linear-gradient(1deg, rgba(3, 76, 125, 0.6) 0%, rgba(0, 8, 13, 0) 100%), url(https://azerpost.az/uploads/contents/51.png?img=7332) no-repeat 100%;
}

.back-left-all{
    display: flex;
}

.back-left{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.back-left h3{
    font-size: 50px;
    color: white;
}

.choice{
    padding: 80px 0;
}

.choice-card{
    padding: 80px;
    width: 1280px;
    box-shadow: 0 0 15px rgba(209, 209, 209, 0.5);
    display: flex;
    justify-content:center;
    column-gap: 100px;
    align-items: center;
}

.choice-card-left{
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    row-gap: 20px;
    box-shadow: 0 0 15px rgba(209, 209, 209, 0.5);
    padding: 50px 100px;
    transition: 0.3s;
}

.choice-card-right{
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    row-gap: 20px;
    box-shadow: 0 0 15px rgba(209, 209, 209, 0.5);
    transition: 0.5s;
}

.choice-card-left:hover{
    background-color: yellow;
    transform: scale(1.2);
}

.choice-card-right:hover{
    background-color: yellow;
    transform: scale(1.2);
}
